<div [class.hidden]="!isLoading" class="loading-overlay">
  <div class="spinner"></div>
</div>
<div class="container">
  <h1>Bem-vindo, {{ user.name }}</h1>
  <div id="map"></div>
  <div class="form">
    <h2>Cadastrar Estabelecimento</h2>
    <div class="form">
      <h3>Clique no mapa para selecionar a Localização</h3>
      <form>
        <p style="margin-bottom: 0px;">Nome do seu Estabelecimento</p>
        <input
          type="text"
          placeholder="Nome do Estabelecimento"
          [(ngModel)]="novoEstabelecimento.nome"
          name="nome"
          required
        />
        <p style="margin-bottom: 0px;">Latitude e longitude</p>
        <input
          type="number"
          placeholder="Latitude"
          [(ngModel)]="novoEstabelecimento.latitude"
          name="latitude"
          [readonly]="true"
          required
        />
        <input
          type="number"
          placeholder="Longitude"
          [(ngModel)]="novoEstabelecimento.longitude"
          name="longitude"
          [readonly]="true"
          required
        />
        <div class="form">
          <p>Selecione o seu ícone</p>
          <div class="icon-and-cadastrar">
            <input
              class="input-none"
              type="text"
              [(ngModel)]="novoEstabelecimento.imagem"
              name="imagem"
              readonly
              required
              [placeholder]="novoEstabelecimento.imagem ? '' : 'Selecione um ícone'"
            />
            <button (click)="toggleIconGallery()" class="icon-button">
              <span class="icon-container">
                <i [class]="novoEstabelecimento.imagem || 'fas fa-image'"></i>
              </span>
            </button>
            <button type="button" (click)="cadastrarEstabelecimento()">Cadastrar</button>
          </div>

          <div *ngIf="iconGalleryVisible" class="icon-gallery-backdrop" (click)="toggleIconGallery()">
            <div class="icon-gallery" (click)="$event.stopPropagation()">
              <div *ngFor="let icon of icons" (click)="selectIcon(icon)" class="icon-item-menu">
                <i class="{{ icon }}"></i>
              </div>
              <button class="close-btn" (click)="toggleIconGallery()">×</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="estabelecimentos">
    <h2>Estabelecimentos Cadastrados</h2>
    <div class="estabelecimento-grid">
      <div class="estabelecimento-card" *ngFor="let estabelecimento of estabelecimentos">
        <strong>{{ estabelecimento.nome }}</strong>
        <i [class]="estabelecimento.imagem" class="icon"></i>
        <p>Localização: {{ estabelecimento.latitude }}, {{ estabelecimento.longitude }}</p>
        <button (click)="abrirNoGoogleMaps(estabelecimento.latitude, estabelecimento.longitude)">
          Ver no Google Maps
        </button>
        <button (click)="excluirEstabelecimento(estabelecimento.id)">
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>
