
.container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    background-color: #faedcd; 
    border-radius: 10px;
    box-shadow: 0 20px 200px rgba(0, 0, 0, 1);

  }
  
  .container h1 {
    color: #606C38;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  #map {
    width: 100%;
    height: 400px;
    background-color: #f0f0f0;
    border: 2px solid #606C38;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .form {
    background-color: #606C38;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .form h2 {
    color: #faedcd;
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
  }
  .form h3 {
    color: #faedcd;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .form input {
    width: 98%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #FEFAE0;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #283618;
    color: #FEFAE0;
  }
  
  .form button {
    background-color: #283618;
    color: #fefae0;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form button:hover {
    background-color: #BC6C25;
  }
  
  .estabelecimentos {
    margin-top: 30px;
  }
  
  .estabelecimentos h2 {
    color: #606C38;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .estabelecimento-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  .rounded-marker {
    border-radius: 50%; 
    overflow: hidden;  
  }
  .estabelecimento-card {
    background-color: #606C38;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .estabelecimento-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .estabelecimento-card img {
    max-width: 80%;
    min-width: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .estabelecimento-card strong {
    display: block;
    font-size: 24px;
    color: #faedcd;
    margin-bottom: 10px;
  }
  
  .estabelecimento-card p {
    font-size: 0.9rem;
  }
  
  .estabelecimento-card button {
    background-color: #283618;
    color: #faedcd;
    border: none;
    margin: 10px;
    padding: 8px 15px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .estabelecimento-card button:hover {
    background-color: #bc6c25;
    color: #fefae0;
  }
  .Imagem do Estabelecimento{
    width: 20px;
  }
  
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 1000;
  }
  
  .loading-overlay.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .icon-button {
  font-size: 18px;
  background-color: #535c66;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.icon-gallery-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.icon-gallery {
  display: flex;
  flex-wrap: wrap;
  background-color: #283618;
  border-radius: 20px;
  padding: 30px;
  gap: 28px;
  justify-content: center;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1010;
}

.icon-item-menu:hover {
  transform: scale(1.9);
}
.icon-item-menu{
  font-size: 30px;
  color: #faedcd;
  transition: transform 0.1s ease;

}

.icon-Cadastrados{
  font-size: 60px;
  color: #faedcd;
}

.input-none{
  display: none;
}
.fa-image{
  color: #faedcd;
  font-size: 30px;
}
p{
  font-size: 18px;
  font-weight: bold;
  color: #faedcd;
}
.selecionar-icone{
  justify-content: space-between;
}
.icon{
  font-size: 60px;
  color: #faedcd;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #faedcd;
  cursor: pointer;
  z-index: 1020; 
}

.icon-gallery {
  padding-top: 70px; /* Espaço para o botão de fechar */
}



