
body {
    background-image: url("https://images.tcdn.com.br/img/img_prod/1041703/playmat_o_senhor_dos_aneis_mapa_da_terra_media_diversos_tamanhos_4427_1_5f8a2d9870e225b73046978241f307ef.jpg");
    margin: 0;
    padding: 0;
    
  }
  